div#modirt-spreadsheet-template-download {
  font-size: 14px;
  margin-bottom: 8px;
  background: #def5ee;
  border-radius: 5px;
  padding: 10px;
  float: left;
}
div#modirt-spreadsheet-format-notes {
  float: left;
  width: 100%;
}
table#modirt-summary-table tr.highlight {
  background: #cceeff;
  border-top: 1px solid #66aadd;
  border-bottom: 1px solid #66aadd;
}
table#modirt-summary-table tr td.full-name-db div.names-warning {
  color: #aa0000;
  font-size: 12px;
  font-weight: bold;
}
